*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
}
.header{
    width: 100%;
    height: 100px;
    background: #2A2F43;
    padding: 0px 20px;
    color:#fff;
}
.logo{
 float: left;
 line-height: 100px;
 text-transform: uppercase;
}

.menu{
    float: right;
    line-height: 100px;
}
.menu a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px;

}
.menu a:hover{
    color:#2AE1E3;
}
.boton-cerrar-menu:hover{
    color:#2AE1E3;
}
.boton-abrir-menu:hover{
    color:#2AE1E3;
}
.boton-abrir-menu, .boton-cerrar-menu{
    font-size: 30px;
    display: none;
    cursor: pointer;
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1000;
}

.boton-abrir-menu{
    float: right;
}

.boton-abrir-menu i{
    line-height: 100px;
}


@media screen and (max-width:768px){
.boton-abrir-menu, .boton-cerrar-menu{
    display: block;
}
.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2A2F43;
    right: -100%;
    text-align: center;
    transition: .7s;
    line-height: normal;
}
.menu a{
    display: block;
    padding: 50px 20px; 
    
}
.boton-cerrar-menu{
    position: absolute;
    top: 50px;
    right: 50px;
}

#chk:checked ~ .menu{
    right: 0;
}

}